html,
body {
    margin: 0;
    padding: 0.5rem;
}

body {
    font-size: 1rem;
    background: #fff;
}

h1 {
    margin: 0 0 1rem 0;
}

p {
    font-size: inherit;
}

.progressBar {
    width: 90%;
    height: 25px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

.progressBarSlider {
    background-color: #F00;
    border-radius: 2px;
    width: 0;
    height: inherit;
}

.no-available-books {
    margin: 20px;
    text-align: center;
    
    display: none;
}

.showFullText {
    white-space: normal !important;
}

.header-text-no-cutoff {
    margin: 0 10% !important
}

.bottom-anchored-notice {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Hide the number input for the player slider */
.player-controls input {
    display: none !important;
}
.player-controls .ui-slider-track {
    margin-left: 15px;
}

.player-controls .time-readout {
    float: left;
}
.player-controls .total-duration-readout {
    float: right;
}